root { 
    display: block;
}

body{
    font-size: small;
}

h1{
    color: blue;
}

table.jongo{
    width: 100%;
    border-style: dashed;
    border-width: 1px;
}

table.jongo th{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: left;
}

table.jongo td{
    text-align: left;
}

.tableFormContainer input{
    
}

.tableContainer input{
    font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    background-image:url('http://code.jquery.com/ui/1.8.16/themes/trontastic/images/ui-bg_gloss-wave_85_9fda58_500x100.png');
/*    background-color: #D7E5F2;      */
    color: #102132;      
    border: 1px solid #56AC6E;
}

.tableContainer input[readonly]{
    font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;      
    background-color: #000000;      
    color: #102132;      
    border: 1px solid #56AC6E;
}

.tableContainer select {      
    font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;      
    background-color: #D7E5F2;
    color: #102132;
    border: 1px solid #56AC6E;
}  