body{
    font-size: small;
}

.jongo-form-row{
    margin-bottom: .4em;
}

.jongo-field {
    background: #EDE4D4 url(http://code.jquery.com/ui/1.8.16/themes/humanity/images/ui-bg_glass_70_ede4d4_1x400.png) 50% 50% repeat-x;
    border: 1px solid #CDC3B7;
    padding: .4em .2em;
    margin-right: .5em;
}

.ui-button-text {
    line-height: 1.3 !important;
}

.jquery-button{
    float:right;
}